/* ==================== Style Switcher ==================== */
body.light {
  --color-bg-base: #F7F6F3; /* Ghostlight */
  --color-bg-elevated: #e9e9e9; /* Light Elevated Background */
  --obsidian-steel: #d1d1d1; /* Light Color Surface */
  --rift-gray: #a9a9a9; /* Light Color Border */
  --voidcore-indigo: #3A1AFF; /* Text Black 900 */
  --ghostlight: #010102; /* Dark Text for Light Theme */
  --void-amber: #D97904; /* Accent Color */
  --arcane-azure: #2e5cff; /* Link Hover */
  --color-r: 46; /* RGB of --arcane-azure */
  --color-g: 92;
  --color-b: 255;
}

.style-switcher {
  position: fixed;
  right: 0;
  top: 5px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--rift-gray);
  background: var(--color-bg-elevated);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: var(--color-bg-elevated);
  color: var(--voidcore-indigo);
  right: 100%;
  margin-right: 25px;
  border: 1px solid var(--rift-gray);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 20px;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--ghostlight);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.style-switcher .themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.style-switcher .themes span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--rift-gray);
}

body {
  background: var(--color-bg-base);
  color: var(--ghostlight);
  font-family: 'Exo', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

.typed-cursor {
  display: none !important;
}

body.light .aside {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body.light .btn {
  color: var(--ghostlight);
}

/* Optional: Toggler visual styles */
.s-icon {
  cursor: pointer;
  margin-bottom: 10px;
}